@font-face {
  font-family: "Harlow Solid Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Harlow Solid Italic"), url("../fonts/HARLOWSI_1.woff") format("woff");
}
/* Fonts */
h2 {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
}

p {
  font-size: 18px;
  font-family: "Dosis", sans-serif;
}

#header1 {
  height: 100vh;
  background-size: cover;
  background: url("../img/visitor-info.jpg") no-repeat center;
}
#header1 .container-header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  color: white;
}
#header1 .container-header .welcome {
  text-align: center;
  display: block;
  text-transform: lowercase;
  font-family: "Harlow Solid Italic", serif;
  font-size: 50px;
}
#header1 .container-header .welcome hr {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 140px;
  margin: 10px;
}
#header1 .container-header .heading {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-size: 100px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

#about-manchester {
  padding: 30px;
}
#about-manchester .row {
  position: relative;
  top: -70px;
}
#about-manchester .row .col-sm:nth-child(1) img {
  width: 100%;
  height: auto;
}
#about-manchester .row .col-sm:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#about-manchester .row .col-sm:nth-child(2) h2 {
  margin-top: 40px;
}
#about-manchester .row .col-sm:nth-child(2) .underline {
  display: inline-block;
  border: 2px solid #2875B0;
  border-radius: 2px;
  width: 140px;
  margin: 10px 0;
}

#where-to-eat {
  background: url("../img/salford.jpg") center no-repeat;
  background-size: cover;
  padding: 30px;
}
#where-to-eat .where-to-eat-container {
  position: relative;
  top: -70px;
  background: #E2EAF0;
  filter: drop-shadow(11px 20px 20px rgba(0, 0, 0, 0.16));
}
#where-to-eat .where-to-eat-container h2 {
  text-align: center;
  padding: 30px;
}
#where-to-eat .where-to-eat-container .where-to-eat-row {
  margin: 0 auto;
  max-width: 1100px;
}
#where-to-eat .where-to-eat-container .where-to-eat-row .where-to-eat-col .item:hover .item-overlay.top {
  top: 0;
}
#where-to-eat .where-to-eat-container .where-to-eat-row .where-to-eat-col .item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#where-to-eat .where-to-eat-container .where-to-eat-row .where-to-eat-col .item .item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
  width: 100%;
  bottom: 30px;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}
#where-to-eat .where-to-eat-container .where-to-eat-row .where-to-eat-col .item .item-overlay.top {
  top: 100%;
  bottom: 30px;
  overflow: hidden;
}
#where-to-eat .where-to-eat-container .where-to-eat-row .where-to-eat-col a img {
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
}

#whats-on {
  padding: 30px;
}
#whats-on .whats-on-container h2 {
  text-align: center;
  padding: 30px 0 30px 0;
}
#whats-on .whats-on-container .whats-on-row .whats-on-col .item:hover .item-overlay.top {
  top: 0;
}
#whats-on .whats-on-container .whats-on-row .whats-on-col .item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#whats-on .whats-on-container .whats-on-row .whats-on-col .item .item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
  width: 100%;
  bottom: 30px;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}
#whats-on .whats-on-container .whats-on-row .whats-on-col .item .item-overlay.top {
  top: 100%;
  bottom: 30px;
  overflow: hidden;
}
#whats-on .whats-on-container .whats-on-row img {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}
#whats-on .whats-on-container p {
  text-align: center;
}

#visit-manchester i {
  margin-right: 20px;
}

#how-to-get-here {
  background: url("../img/manchester-hero.jpg") center no-repeat;
  background-size: cover;
  margin-top: 150px;
  padding: 30px;
}
#how-to-get-here .container-how-to-get-here {
  display: flex;
  background: #E2EAF0;
  position: relative;
  bottom: -80px;
}
#how-to-get-here .container-how-to-get-here .info-how-to-get-here {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
#how-to-get-here .container-how-to-get-here .info-how-to-get-here .underline {
  display: inline-block;
  border: 2px solid #2875B0;
  border-radius: 2px;
  width: 140px;
  margin: 10px 0;
}
#how-to-get-here .container-how-to-get-here .info-how-to-get-here .button {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  color: white;
  background: #2875B0;
  width: 100px;
  margin: 0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
#how-to-get-here .container-how-to-get-here .info-how-to-get-here .button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
#how-to-get-here .container-how-to-get-here .image-how-to-get-here img {
  padding: 20px;
  position: relative;
  bottom: 60px;
  width: 450px;
}

.manchester-skyline {
  padding-top: 100px;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}
.manchester-skyline img {
  height: auto;
  width: 100%;
}

#footer {
  background: #2875B0;
}
#footer .footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  flex-wrap: wrap;
}
#footer .footer-container h2 {
  font-size: 15px;
  color: #fff;
}
#footer .footer-container a {
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
}
#footer .footer-container .links-container {
  display: flex;
  flex-direction: row;
}
#footer .footer-container .links-container .links {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
#footer .footer-container .social-media-links {
  margin: 20px;
}
#footer .footer-container .social-media-links i {
  font-size: 30px;
}

@media only screen and (max-width: 1100px) {
  #about-manchester .row {
    display: flex;
    flex-direction: column;
  }

  #how-to-get-here .container-how-to-get-here {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #how-to-get-here .container-how-to-get-here img {
    top: -30px;
    height: 350px;
    max-width: 250px;
  }
}
@media only screen and (max-width: 600px) {
  #header .container-header .heading {
    font-size: 80px;
  }

  #header .container-header .welcome {
    font-size: 30px;
  }
}
@media only screen and (max-width: 500px) {
  #header .container-header .heading {
    font-size: 50px;
  }

  #header .container-header .welcome {
    font-size: 30px;
  }

  #header .container-header .welcome hr {
    width: 40px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .manchester-skyline img {
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
